<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button></ion-back-button>
        </ion-buttons>
    <ion-title>Categorize seu problema</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <form  [formGroup]="formCategoria" (ngSubmit)="confirmar()">
    <!-- Textarea in an item with a floating label -->
     <ion-item>
        <ion-label position="floating">Descrição</ion-label>
        <ion-textarea formControlName="descricao"></ion-textarea>
    </ion-item>
    <div *ngIf="descricao.invalid && (descricao.dirty || descricao.touched)" class="">
      <div *ngIf="descricao.errors.required" class="invalid-response position-relative float-right bottom-5">* Preenchimento é obrigatório</div>
    </div>

      <ion-item>
            <ion-label>Categoria</ion-label>
            <ion-select formControlName="categoria"  placeholder="Selecione...">
              <ion-select-option  *ngFor="let categoria of categorias" value=" {{ categoria.id }}">{{ categoria.nome }}</ion-select-option>
            </ion-select>
      </ion-item>
      <div *ngIf="categoria.invalid && (categoria.dirty || categoria.touched)" class="">
        <div *ngIf="categoria.errors.required" class="invalid-response position-relative float-right bottom-5">* Preenchimento é obrigatório</div>
      </div>
    
    <ion-button type="submit" expand="block" [disabled]="formCategoria.invalid">Enviar</ion-button>
  </form>

</ion-content>
